.top-section {
  width: 100%;
  height: 100vh;
  background: url('../img/mp-hero-04.jpg') no-repeat center;
  background-size: cover;
  /*max-height: 611px;*/
  opacity: 1;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cover-img {
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: -999998;
  width: 360px;
}

.svg-logo {
  width: 200px;
  fill: white;
}

.logo-bottom {
  width: 100%;
  position: absolute;
  bottom: 5%;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: .9rem;
}
